body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.roundedBorder {
  border-radius: 10px;
}

.mainBackground {
  background-color: #3C82F9;
}
.secondBackground {
  background-color: lightgrey;
}

.thirdBackground {
  background-color: #f2f2f2;
}

.fourthBackground {
  background-color: #783cf9;
}

.fifthBackground {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.thirdHarmony {
  font-weight: bold;
  background-color: #3cf9b4;
  color: black;
}

.fourthHarmony {
  font-size: 16px;
  font-weight: bold;
  background-color: lightgrey;
  color: #3C82F9;
}


.calendarMenuColor {
  background-color: #783cf9;
}

.submissionColor {
  color: black;
  font-size: 16px;
  background-color: lightgrey;
}

.buttonColor {
  background-color: #3C82F9;
  font-size: 16px;
  font-weight: bold;
  color:white;
}

.blueButton {
  background-color: #3C82F9;
  color: white;
  font-weight: bold;
}

.firstColorText {
  color: white;
}
.secondColorText {
  color: #3C82F9;
}

button:hover {
  background-color: gray; 
}

button:focus {outline:0;}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.MainTitle {
  font-size: 24px;
}

a {
  color: #00B7FF;
}

.role-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-weight: bold;
  text-align: center;
}

.role-radio input {
  font-size: 18px;
  margin: 10px;
  height: 30px;
  width: 250px;
  border-style: none;
  padding: 5px;
}

.label-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin: 0px 15px 0px 15px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}